<div *ngIf="displayValue,else elseBlock">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <b>{{titelLabel}}</b>
      </ng-template>
      <div class="view-container">

        <div class="row my-1">
          <div class="my-label">
            Name :
          </div>
          <div class="my-value">
            {{displayValue.Name || "-"}}
          </div>

          <div class="my-label">
            Type :
          </div>
          <div class="my-value">
            {{displayValue.TypeWorkActivity}}
            {{displayValue.TypeWorkActivity === 1 ? 'QC/QA' : (displayValue.TypeWorkActivity === 2 ? 'NDE' : '-')}}
          </div>
        </div>

        <div class="row my-1">
          <div class="my-label">
            Description :
          </div>
          <textarea [value]="displayValue.Description" rows="3" readonly class="my-value">
          </textarea>

          <div class="my-label">
            Remark :
          </div>
          <textarea [value]="displayValue.Remark" rows="3" readonly class="my-value">
          </textarea>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #elseBlock>
  <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
  Waiting... for loading
</ng-template>
