<div *ngIf="displayValue,else elseBlock">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <b>Quality control infomation view</b>
      </ng-template>
      <div class="view-container">
        <!--Row1-->
        <div class="row my-1">
          <div class="my-label">
            QualityControl By :
          </div>
          <div class="my-value">
            {{displayValue.EmpQualityControlString || "-"}}
          </div>

          <div class="my-label">
            Date :
          </div>
          <div class="my-value">
            {{(displayValue.QualityControlResultDate | date:'dd/MM/yyyy')|| "-"}}
          </div>
        </div>
        <!--Row2-->
        <div class="row my-1">
          <div class="my-label">
            Description :
          </div>
          <textarea [value]="displayValue.Description" rows="3" readonly class="my-value">
            </textarea>

          <div class="my-label">
            Remark :
          </div>
          <textarea [value]="displayValue.Remark" rows="3" readonly class="my-value">
            </textarea>
        </div>
        <!--Row3-->
        <div class="row my-1">
          <div class="my-label">
            Status :
          </div>
          <div class="my-value">
            {{displayValue.QualityControlStatusString || "-"}}
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <b>Item quality control</b>
      </ng-template>
      <div class="view-container" *ngIf="requireHasMasters">
        <app-quality-control-has-markno-table [dataRows]="requireHasMasters" [readOnly]="true" [isDialog]="isDialog">
        </app-quality-control-has-markno-table>
      </div>
    </mat-tab>
  </mat-tab-group>
  <hr />
  <div *ngIf="requireQualityControl">
    <app-quality-control-has-require [displayValue]="requireQualityControl">
    </app-quality-control-has-require>
  </div>
</div>

<ng-template #elseBlock>
  <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
  Waiting... for loading
</ng-template>
