@import "../../shared/styles/report.style.scss";

.master-container {
  display: flex;
  flex-direction: column;
  width: calc(100vw);
  height: calc(100vh);
}

.report-box {
  max-width: 1500px;
  margin: auto;
  font-size: 15px;
  line-height: 30px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}

span {
  width: 100%;
  border-bottom: 1px dotted #000;
}

.img-div {
  width: 100%;
  text-align: center;
}

img {
  top: 50%;
  bottom: 50%;
  width: 135px;
  margin: 0 auto;
}

.label {
  // padding
  padding-top: 1px;
  padding-right: 1px;
  padding-left: 1px;
  // font
  color: windowtext;
  font-size: 12px;
  font-weight: 400;
  vertical-align: bottom;
}

.value {
  // padding
  padding-top: 1px;
  padding-right: 1px;
  padding-left: 1px;
  // font
  color: windowtext;
  font-size: 12px;
  font-style: italic;
  vertical-align: bottom;
}

@media print {

  :host /deep/ .report-box {
    width: auto;
    height: auto;
    overflow: visible;
    font-size: 10px;
  }

  .no-print {
    display: none !important;
  }

  @page {
    size: auto;
  }
}
