<div class="m-3" style="width:450px;height:auto;">
  <H5 style="color:cadetblue">Create MarkNo</H5>
  <div *ngIf="editValueForm" class="form-container-column">
    <form [formGroup]="editValueForm">

      <mat-form-field hintLabel="*Required and max 200 characters">
        <input matInput placeholder="Enter drawing no."
               required maxlength="200"
               formControlName="DrawingNo">
        <mat-hint [align]="end">{{editValueForm.controls.DrawingNo.value?.length || 0}}/200</mat-hint>
        <mat-error *ngIf="editValueForm.controls.DrawingNo.hasError('required')">
          Drawing-no is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="*Required and max 150 characters">
        <input matInput placeholder="Enter mark-no" [matAutocomplete]="markNoauto"
               required maxlength="150"
               formControlName="MarkNo">

        <mat-autocomplete #markNoauto="matAutocomplete">
          <mat-option *ngFor="let master of masterLists" [value]="master.MarkNo">
            <span>{{ master.MarkNo }}</span>
          </mat-option>
        </mat-autocomplete>

        <mat-hint [align]="end">{{editValueForm.controls.MarkNo.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="editValueForm.controls.MarkNo.hasError('required')">
          MarkNo is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="Max 50 characters">
        <input matInput placeholder="Enter master list name"
               maxlength="50" formControlName="Name">
        <mat-hint [align]="end">{{editValueForm.controls.Name.value?.length || 0}}/50</mat-hint>
      </mat-form-field>

      <mat-form-field hintLabel="*UnitNo more then 0">
        <input matInput placeholder="Enter unit-no"
               type="number" min="0" formControlName="UnitNo">
        <mat-error *ngIf="editValueForm.controls.UnitNo.hasError('min')">
          UnitNo minimum number is 0
        </mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="*Box more then 0">
        <input matInput placeholder="Enter box"
               type="number" min="0" formControlName="Box">
        <mat-error *ngIf="editValueForm.controls.Box.hasError('min')">
          Box minimum number is 0
        </mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="*Required and min quailty 1">
        <input matInput placeholder="Enter quantity"
               type="number" min="1" required
               formControlName="Quantity">
        <mat-error *ngIf="editValueForm.controls.Quantity.hasError('required')">
          Quantity is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </form>
    <hr class="w-75 my-3"/>
    <div class="row-form">
      <div class="left-content">
        <button mat-mini-fab color="primary" (click)="onSubmitMasterList()"
                matTooltip="Add new MarkNo" [disabled]="!editValueForm.valid">
          <mat-icon aria-hidden="true">add</mat-icon>
        </button>
        &nbsp;&nbsp;
        <button mat-mini-fab color="warn" (click)="onCancelMasterList()"
                matTooltip="Cancel">
          <mat-icon aria-hidden="true">close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
