<div class="master-container" *ngIf="!loadReport;else LoadReportBlock">
  <div class="child-col-container">
    <h4>Require Quality Control schedule </h4>
    <form [formGroup]="reportForm" class="form-content">
      <div>
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" formControlName="Filter" placeholder="Insert filter here"
               style="width:250px;" matTooltip="Selected training">
      </div>

      <div>
        <i class="fa fa-chain" aria-hidden="true"></i>
        <input type="text" class="my-input-click" placeholder="Choose job-no here"
               (click)="openDialog('Project')" style="width:250px;"
               id="ProjectString" formControlName="ProjectString" readonly>
      </div>
      <div>
        <button type="button" mat-mini-fab color="warn" (click)="resetFilter()"
                matTooltip="Reset all filter" style="margin:4px;">
          <i class="fa fa-2x fa-minus" aria-hidden="true" style="margin:0px;"></i>
        </button>
      </div>
    </form>
    Reload data in {{message}} sec.
    <div style="width:98%;">
      <mat-progress-bar color="primary" [value]="count" mode="determinate">
      </mat-progress-bar>
    </div>
  </div>
  <div class="bottom-container my-2">
    <p-dataTable [value]="requireQc" sortField="WorkGroupQcName" rowGroupMode="rowspan"
                 [lazy]="true" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20,50]"
                 [totalRecords]="totalRecords" (onLazyLoad)="loadDataLazy($event)"
                 scrollable="true" scrollWidth="94vw">
      <p-headerColumnGroup>
        <p-row>
          <p-column *ngFor="let colup of columnUpper" [header]="colup.header"
                    [rowspan]="colup.rowspan" [style]="colup.style" [colspan]="colup.colspan">
          </p-column>
        </p-row>
        <p-row>
          <p-column *ngFor="let collow of columnLower" [header]="collow.header"
                    [style]="{'width':'150px'}">
          </p-column>
        </p-row>
      </p-headerColumnGroup>
      <p-column *ngFor="let column of columns" [field]="column.field" [styleClass]="column.styleclass"
                [header]="column.header" [style]="column.style" [sortable]="true">
        <ng-template *ngIf="column.isCol" let-col let-data1="rowData" pTemplate="body">
          <ol type="I">
            <li *ngFor="let master of data1[col.field];index as i;"
                [ngClass]="master.ResponseDate ? 'text-success' : 'text-danger' ">
              <i class="fa fa-search" (click)="onSelectRow(master)"
                 style="cursor:pointer;">
                <span>{{master.ProjectCodeDetailString}} by {{master.RequireEmpString}}</span>
              </i>
            </li>
          </ol>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
<ng-template #LoadReportBlock>
  <app-require-qc-report [QualityControlId]="RequireQualityControlId"
                         (Back)="onBack()">
  </app-require-qc-report>
</ng-template>
