<div class="master-container" *ngIf="!loadReport;else LoadReportBlock">
  <div class="child-col-container">
    <h4> {{status === 1 ? 'Require Quality Control schedule' : 'Require Welding schedule'}} </h4>
    <div class="my-1">
      <form [formGroup]="reportForm" class="form-content m-0">
        <div>
          <i class="fa fa-search" aria-hidden="true"></i>
          <mat-form-field>
            <input matInput placeholder="Filter By Text"
                   id="Filter" formControlName="Filter">
          </mat-form-field>
        </div>

        <div>
          <i class="fa fa-product-hunt" aria-hidden="true"></i>
          <mat-form-field>
            <input matInput placeholder="Filter By Job" class="click-input"
                   (click)="onShowDialog('Project')" readonly
                   id="ProjectString" formControlName="ProjectString">
          </mat-form-field>
        </div>

        <div>
          <i aria-hidden="true"><mat-icon>group</mat-icon></i>
          <mat-form-field>
            <mat-select placeholder="Selected work of quailty control"
                        formControlName="GroupQcId">
              <mat-option *ngFor="let workGroupQc of workGroupQcs" [value]="workGroupQc.WorkGroupQualityControlId">
                {{ workGroupQc.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div style="margin:0 0 10px 0;">
          <button type="button" mat-mini-fab color="warn" (click)="resetFilter()"
                  matTooltip="Reset all filter" style="margin:4px;">
            <i class="fa fa-2x fa-minus" aria-hidden="true" style="margin:0px;"></i>
          </button>
        </div>
      </form>

    </div>
  </div>
  <div class="bottom-container m-1">
    <p-dataTable [value]="requireQc" sortField="WorkGroupQcName" rowGroupMode="rowspan"
                 [lazy]="true" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20,50]"
                 [totalRecords]="totalRecords" (onLazyLoad)="loadDataLazy($event)"
                 scrollable="true">
      <p-headerColumnGroup>
        <p-row>
          <p-column *ngFor="let colup of columnUpper" [header]="colup.header"
                    [rowspan]="colup.rowspan" [style]="colup.style" [colspan]="colup.colspan">
          </p-column>
        </p-row>
        <p-row>
          <p-column *ngFor="let collow of columnLower" [header]="collow.header"
                    [style]="{'width':'150px'}">
          </p-column>
        </p-row>
      </p-headerColumnGroup>
      <p-column *ngFor="let column of columns" [field]="column.field" [styleClass]="column.styleclass"
                [header]="column.header" [style]="column.style" [sortable]="true">
        <ng-template *ngIf="column.isCol" let-col let-data1="rowData" pTemplate="body">
          <ul>
            <li *ngFor="let master of data1[col.field];index as i;"
                [ngClass]="master.ResponseDate ? 'text-success' : 'text-danger' ">
              <span (click)="onSelectRow(master)" style="cursor:pointer;">
                {{i+1}}. {{master.ProjectCodeDetailString}} by {{master.RequireEmpString}}
              </span>
              <hr class="bg-light" />
            </li>
          </ul>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
<ng-template #LoadReportBlock>
  <app-require-qc-report [QualityControlId]="RequireQualityControlId"
                         (Back)="onBack()">
  </app-require-qc-report>
</ng-template>
