@import "../../shared/styles/view.style.scss";
@import "../../shared/mk2/styles/table.style.scss";

.mat-table {
  overflow: auto;
  height: calc(#{$dialog-vh} - 350px);
  width: calc(#{$dialog-vw} - 120px);
}

.mat-row, .mat-header-row {
  width: 170vw;
}


.mat-column-PassQuantity {
  flex: 0 0 85px;
}

.mat-column-QualityControlReasonId {
  flex: 0 0 350px;
}
.mat-column-edit {
  flex: 0 0 100px;
}
