<div class="master-container" *ngIf="!loadReport;else LoadReportBlock">
  <div>
    <!--Title-->
    <h4 class="card-title text-info">
      Welder Process
    </h4>
  </div>
  <div *ngIf="onLoading" class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>
  <div class="child-container">
    <!--Center-->
    <div class="center-content">
      <!--Component-->
      <div *ngIf="!ShowDetail;else InfoBlock">
        <app-require-qc-welder-table (returnSelectedWith)="onDetailView($event)" (returnSelected)="onInfoView($event)"
                                     [isSubAction]="forFail ? 'GetScrollOnFail/' : 'GetScroll/'"></app-require-qc-welder-table>
      </div>
      <ng-template #InfoBlock>
        <app-require-qc-welder-info></app-require-qc-welder-info>
      </ng-template>
    </div>
    <!--Right-->
    <div class="right-content">
      <button mat-mini-fab color="accent" (click)="onDetailView()"
              matTooltipPosition="left" matTooltip="Create"
              disabled>
        <mat-icon>add</mat-icon>
      </button>
      <hr />
      <button mat-mini-fab color="warn" (click)="onCancelEdit()"
              matTooltipPosition="left" matTooltip="Cancel"
              [disabled]="!ShowDetail">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-mini-fab color="accent" (click)="onSubmit()" class="mt-1"
              matTooltipPosition="left" matTooltip="Save"
              [disabled]="!canSave">
        <mat-icon>save</mat-icon>
      </button>
      <hr />
      <button mat-mini-fab color="primary" (click)="onReport(displayValue)"
              matTooltip="Print" matTooltipPosition="left"
              [disabled]="forFail || DisplayDataNull || ShowDetail">
        <mat-icon>print</mat-icon>
      </button>
    </div>
  </div>
</div>

<ng-template #LoadReportBlock>
  <div *ngIf="displayValue && displayValue.RequireQualityControlId">
    <app-require-qc-welder-report [RequireQcWelderId]="displayValue.RequireQualityControlId" (Back)="onBack()">
    </app-require-qc-welder-report>
  </div>
</ng-template>
