<div *ngIf="displayValue,else elseBlock">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <b>Require quality control infomation view.</b>
      </ng-template>
      <div class="view-container">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Request information panel
              </mat-panel-title>
              <mat-panel-description>
                Information request quality control
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row my-1">
              <div class="my-label">
                Response Date :
              </div>
              <div class="my-value">
                {{(displayValue.ResponseDate | date:'dd/MM/yyyy | HH:mm')|| "-"}}
              </div>
            </div>
            <hr class="w-100 my-0" />
            <!--Row1-->
            <div class="row my-1">
              <div class="my-label">
                RequireQcNo :
              </div>
              <div class="my-value">
                {{displayValue.RequireQualityNo || "-"}}
              </div>

              <div class="my-label">
                Date :
              </div>
              <div class="my-value">
                {{(displayValue.RequireDate | date:'dd/MM/yyyy | HH:mm')|| "-"}}
              </div>
            </div>
            <!--Row2-->
            <div class="row my-1">
              <div class="my-label">
                RequireBy :
              </div>
              <div class="my-value">
                {{displayValue.RequireEmpString || "-"}}
              </div>

              <div class="my-label">
                Group :
              </div>
              <div class="my-value">
                {{displayValue.GroupMISString || "-"}}
              </div>
            </div>
            <!--Row3-->
            <div class="row my-1">
              <div class="my-label">
                Branch :
              </div>
              <div class="my-value">
                {{displayValue.BranchString || "-"}}
              </div>

              <div class="my-label">
                JobNumber :
              </div>
              <div class="my-value">
                {{displayValue.ProjectCodeDetailString || "-"}}
              </div>
            </div>
            <!--Row4-->
            <div class="row my-1">
              <div class="my-label">
                InspectionPoint :
              </div>
              <div class="my-value">
                {{displayValue.InspectionPointString || "-"}}
              </div>

              <div class="my-label">
                WorkActivity :
              </div>
              <div class="my-value">
                {{moreWorkActivities || "-"}}
              </div>
            </div>
            <!--Row5-->
            <div class="row my-1">
              <div class="my-label">
                Workgroup QC :
              </div>
              <div class="my-value">
                {{displayValue.WorkGroupQualityControlString || "-"}}
              </div>

              <div class="my-label">
                ReplyMail :
              </div>
              <div class="my-value">
                {{displayValue.MailReply || "-"}}
              </div>
            </div>
            <!--Row6-->
            <!--
            <div class="row my-1">
              <div class="my-label">
                Location :
              </div>
              <div class="my-value">
                {{displayValue.LocationQualityControlString || "-"}}
              </div>
            </div>
            -->
            <!--Row7-->
            <div class="row my-1">
              <div class="my-label">
                Description :
              </div>
              <textarea [value]="displayValue.Description" rows="3" readonly class="my-value">
          </textarea>

              <div class="my-label">
                Remark :
              </div>
              <textarea [value]="displayValue.Remark" rows="3" readonly class="my-value">
          </textarea>
            </div>
            <!--Row8-->
            <div class="row my-1">
              <div class="my-label">
                Status :
              </div>
              <div class="my-value">
                {{displayValue.RequireStatusString || "-"}}
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel class="my-1">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Attach file panel
              </mat-panel-title>
              <mat-panel-description>
                Total attach files {{attachFiles?.length || 0}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!--Row9-->
            <div class="row my-1" *ngIf="attachFiles">
              <div class="my-label">
                Attach File :
              </div>
              <div class="col-sm-4" style="padding:2px;">
                <app-attach-file-view [attachFiles]="attachFiles">
                </app-attach-file-view>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab *ngIf="!noMasterList">
      <ng-template mat-tab-label>
        <b>Request item && Request mark-no</b>
      </ng-template>
      <div class="view-container" *ngIf="displayValue.MasterLists">
        <app-require-qc-masterlist-table [dataRows]="displayValue.MasterLists"
                                         [readOnly]="true">
        </app-require-qc-masterlist-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #elseBlock>
  <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
  Waiting... for loading
</ng-template>
