<div class="master-container">
  <div *ngIf="onLoading" class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>
  <div class="child-col-container" *ngIf="!isLinkMail" style="min-height:80px;">
    <div class="child-row-container my-1">
      <h5 class="text-primary">Quality Control Schedule </h5>
      <div style="margin-right:5px;color:forestgreen;">
        <i class="fa fa-square" aria-hidden="true"></i>
      </div> Request
      <div style="margin-right:5px;margin-left:5px;color:steelblue;">
        <i class="fa fa-square" aria-hidden="true"></i>
      </div> QualityControl
      <div style="margin-right:5px;margin-left:5px;">
        <i class="fa fa-circle text-danger" aria-hidden="true"></i>
      </div> Response
    </div>
    <div class="my-1">
      <form [formGroup]="reportForm" class="form-content m-0">
        <div>
          <i class="fa fa-search" aria-hidden="true"></i>
          <mat-form-field>
            <input matInput placeholder="Filter By Text"
                   id="Filter" formControlName="Filter">
          </mat-form-field>
        </div>
        <div>
          <i class="fa fa-product-hunt" aria-hidden="true"></i>
          <mat-form-field>
            <input matInput placeholder="Filter By Job" class="click-input"
                   (click)="onShowDialog('Project')" readonly
                   id="ProjectMasterString" formControlName="ProjectMasterString">
          </mat-form-field>
        </div>
        <div>
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <mat-form-field>
            <input matInput placeholder="Request By" class="click-input"
                   (click)="onShowDialog('Employee')" readonly
                   id="CreatorName" formControlName="CreatorName">
          </mat-form-field>
        </div>
        <div>
          <i aria-hidden="true"><mat-icon>group</mat-icon></i>
          <mat-form-field>
            <mat-select placeholder="Selected work of quailty control"
                        id="WorkGroupQuailtyControlId" formControlName="WorkGroupQuailtyControlId">
              <mat-option *ngFor="let workGroupQc of workGroupQcs" [value]="workGroupQc.WorkGroupQualityControlId">
                {{ workGroupQc.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="margin:0 0 10px 0;">
          <button type="button" mat-mini-fab color="warn" (click)="resetFilter()"
                  matTooltip="Reset all filter" style="margin:4px;">
            <i class="fa fa-2x fa-minus" aria-hidden="true" style="margin:0px;"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="bottom-container m-1">
    <p-dataTable [value]="requireQualityControls" rowGroupMode="rowspan"
                 [lazy]="true" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                 [totalRecords]="totalRecords" (onLazyLoad)="loadDataLazy($event)"
                 scrollable="true">
      <p-headerColumnGroup>
        <p-row>
          <p-column *ngFor="let colup of columnsUpper" [header]="colup.header"
                    [rowspan]="colup.rowspan" [style]="colup.style" [colspan]="colup.colspan">
          </p-column>
        </p-row>
        <p-row>
          <p-column *ngFor="let collow of columnsLower" [header]="collow.header"
                    [colspan]="collow.colspan" [style]="{'width':'50px'}">
          </p-column>
        </p-row>
        <p-row>
          <p-column *ngFor="let collowlv2 of columnsLowerLv2" [header]="collowlv2.header"
                    [style]="{'width':'25px'}">
          </p-column>
        </p-row>
      </p-headerColumnGroup>
      <p-column *ngFor="let column of columns" [field]="column.field" [styleClass]="column.styleclass"
                [header]="column.header" [style]="column.style" [sortable]="true">
        <ng-template *ngIf="column.isCol" let-col let-data1="rowData" pTemplate="body">
          <div [ngSwitch]="data1[col.field]" class="child-col-container">
            <!-- 1 -->
            <div *ngSwitchCase="1">
              <div class="plan-col">
                <i class="fa fa-circle text-danger" *ngIf="data1['Response'] == col.field" aria-hidden="true"></i>
              </div>
              <div class="empty-col">
              </div>
            </div>
            <!-- 2 -->
            <div *ngSwitchCase="2">
              <div class="empty-col">
                <i class="fa fa-circle text-danger" *ngIf="data1['Response'] == col.field" aria-hidden="true"></i>
              </div>
              <div class="actual-col">
              </div>
            </div>
            <!-- 3 -->
            <div *ngSwitchCase="3">
              <div class="plan-col my-border">
                <i class="fa fa-circle text-danger" *ngIf="data1['Response'] == col.field" aria-hidden="true"></i>
              </div>
              <div class="actual-col">
              </div>
            </div>
            <!-- Default -->
            <div *ngSwitchDefault>
              <div class="empty-col">
                <i class="fa fa-circle text-danger" *ngIf="data1['Response'] == col.field" aria-hidden="true"></i>
              </div>
              <div class="empty-col">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template *ngIf="column.isLink" let-col let-data1="rowData" pTemplate="body">
          <div *ngIf="data1[col.field]">
            <i (click)="onSelectRequireQualityControl(data1)" style="cursor:pointer;color:steelblue;">
              {{data1[col.field]}}
            </i>
          </div>
        </ng-template>
        <ng-template *ngIf="column.field === 'WorkGroupQualityControl'" let-col let-data1="rowData" pTemplate="body">
          {{(data1[col.field] === 'QC NDE' && data1['QualityControlStatus'] === 9 ? 'Welder' : data1[col.field])}}
        </ng-template>
        <ng-template *ngIf="column.field === 'Progress'" let-col let-data1="rowData" pTemplate="body">
          <div class="m-0 b-0" [ngClass]="{'is-require': data1['QualityControlStatus'] === 1,
                'is-wait': data1['QualityControlStatus'] === 2 || data1['QualityControlStatus'] === 3 || data1['QualityControlStatus'] === 4,
                'is-complate' : data1['QualityControlStatus'] === 5 || data1['QualityControlStatus'] === 12,
                'is-cancel' : data1['QualityControlStatus'] === 6 || data1['QualityControlStatus'] === 7 || data1['QualityControlStatus'] === 11,
                'is-revise' : data1['QualityControlStatus'] === 8,
                'is-req-welded' : data1['QualityControlStatus'] === 9 || data1['QualityControlStatus'] === 10}" style="text-align:center;">
            {{data1[col.field]}}
          </div>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
